/* Keyframes for breathing gloss effect */
@keyframes breathingGloss {
    0%, 100% {
        stroke-width: 1;
        stroke-opacity: 1;
    }
    50% {
        stroke-width: 4;
        stroke-opacity: 0.5;
    }
}

#map-container {
    width: 100%;  /*Ensure the container is full-width */
    max-width: 100%;  /*Limit maximum width to avoid overflow*/ 
    padding-top: 50px;
} 

#map-container object {
    display: block;
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    max-width: 1000px;
    margin: auto;
}

path {
    fill: #cccccc; /* Default gray color */
    stroke: #ff0000; /* Borders */
    stroke-width: 1;
    transition: fill 0.3s, stroke-width 0.3s, stroke-opacity 0.3s;
}

path:hover {
    fill: #fae900; /* Highlight color on hover */
}

path.active {
    fill: #ff5722; /* Color when a country is clicked */
    stroke: #ff0000; /* Red stroke */
    animation: breathingGloss 2s infinite ease-in-out; /* Apply the animation */
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;  /* This ensures it acts as a reference for absolute children */
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    border-radius: 15px;
}

.close {
    position: absolute;
    top: 10px;  /* Adjust based on your preference */
    right: 10px;  /* Adjust based on your preference */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;  /* Ensures it's clickable */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}