header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw; /* Add padding for space around logo and menu */
}

.logo {
    position: relative;
    padding: 0;
}

nav {
    background-color: transparent;
    display: flex;
    align-items: center;
}

.main-menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    padding: 0;
    width: 100%;
}

.main-menu li {
    margin-left: 5px;
    flex-grow: 1; /* Make all list items grow equally */
    display: flex; /* Ensure the li element is also a flex container */
    justify-content: center; /* Center the content inside the li */
    align-items: center; /* Vertically center content */
}

.main-menu a { /* Apply the same styles to both menu and sidebar links */
    display: block;
    width: 100%; /* Make the links fill the full width of their container */
    padding: 10px 25px;
    text-align: center; /* Center text inside the boxes */
    text-decoration: none;
    color: #5f5f5f;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.main-menu li a:hover, .main-menu li a:focus, .sidebar li a:hover, .sidebar li a:focus {
    background-color: #2b14ab;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Sidebar menu */
.sidebar {
    background-color: #fff;
    width: 8rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
    flex-direction: column;
    padding-left: 5px;
    padding-top: 50px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    display: flex;

}

.sidebar li {
    width: 100%;
    list-style: none; /* Ensure no bullet points appear on individual items */
    align-items: right;
    margin-top: 1rem;
}

.sidebar a { /* Apply the same styles to both menu and sidebar links */
    display: block;
    width: 100%; /* Make the links fill the full width of their container */
    padding: 10px 0px;
    text-align: center; /* Center text inside the boxes */
    text-decoration: none;
    color: #5f5f5f;
    font-weight: 700;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;}

.menu-button {
    display: none;
    position: relative;
    cursor: pointer;
    z-index: 1060;
    color: black;
    background: transparent;
    border: none;
    padding: 10px;
    outline: none;
}

/* Show the menu button on smaller screens */
@media (max-width: 850px) {
    .main-menu {
        display: none; /* Hide the main menu on smaller devices */
    }

    .menu-button {
        display: block; /* Show the menu button */
        position: absolute;
        right: 10px; /* Position on the right side */
        top: 10px; /* Position near the top */
        z-index: 1060; /* Ensure it's above other elements */
    }

    .sidebar {
        transform: translateX(100%); /* Keep the sidebar hidden initially */
        display: flex; /* Ensure it's set to flex layout */
    }
}
