<footer>
    <!--
    <div class="footer-columns">
        <div class="column one">
            <p><a href="http://gbs.uz" target="_blank">Global Business Services (UZ) </a></p>
            <p><a href="http://gbs.lv" target="_blank">Global Business Services (LV) </a></p>
        </div>
        <div class="column two">
            {{ $about := .Site.GetPage "menu/about.md" }}
            <p><a href="{{ $about.Permalink }}">About Us</a></p>

            {{ $contact := .Site.GetPage "menu/contact.md" }}
            <p><a href="{{ $contact.Permalink }}">Contact</a></p>
        </div>
        <div class="column three">
            {{ $socials := .Site.GetPage "footer/socials.md" }}
            <p><a href="{{ $socials.Permalink }}">Socials</a></p>

            {{ $positions := .Site.GetPage "footer/positions.md" }}
            <p><a href="{{ $positions.Permalink }}">Positions</a></p>
        </div>
    </div>
    -->
    <div class="footer-bottom">
        <p>Copyright © 2023 Global Business Services Inc.</p>
    </div>
</footer>

