<header>
    <!-- SVG Logo -->
    <div class="logo">
        <a href="{{ "/" | relURL }}">
            <img src="{{ "images/logo.svg" | relURL }}" alt="GBS Logo" style="height: 50px;">
        </a>
    </div>
    
    <!-- Navigation menu -->
    <nav>
        <!-- Menu Button for Small Screens -->
        <li class="menu-button" onclick="toggleSidebar()">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26">
                    <path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/>
                </svg>
            </a>
        </li>

        <ul class="sidebar">
            <!-- Remove the first item with the huge "X" -->
            {{range where .Site.RegularPages "Section" "menu"}}
            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
        <ul class="main-menu">
            {{range where .Site.RegularPages "Section" "menu"}}
            <li class="hideOnMobile"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </nav>
</header>
