/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
/* -------------------------------------------------------------------------- */
.hero-section {
  background-image: url("../assets/home/hero_img.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-content {
  text-align: center;
  z-index: 2;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-content h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.hero-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-size: 1.5rem;
}

@media (max-width: 1080px) {
  .hero-content h1 {
    font-size: 4rem;
}
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 3rem;
  }
}