<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <!-- SVG Logo -->
        <div class="logo">
            <img src="../static/images/logo.svg" alt="GBS Logo" style="height: 50px;">
        </div>

        <!-- Navigation menu -->
        <nav>
            <ul>
                <li><a href="/templates/home.html">Company</a></li>
                <li><a href="/templates/home.html">Services</a></li>
                <li><a href="/templates/home.html">Industries</a></li>
                <li><a href="/templates/home.html">Locations</a></li>
                <li><a href="/templates/home.html">About us</a></li>
                <li><a href="/templates/home.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="home-banner">
            <p>
                Global Business Services (GBS) is a private consulting firm with a successful track record in the Central Asian region. Since 2002, GBS has been providing professional consulting services in the various economic and social fields including agriculture and natural resources management, healthcare, public utility, urban infrastructure, and other sectors.
            </p>
        </div>

        <div>
            <p>
                CONTENT IS HERE
                Global Business Services (GBS) is a private consulting firm with a successful track record in the Central Asian region. Since 2002, GBS has been providing professional consulting services in the various economic and social fields including agriculture and natural resources management, healthcare, public utility, urban infrastructure, and other sectors.
            </p>
        </div>

        <div>
            GALLERY IS HERE
        </div>

        <div class="container">
            <div class="box">
                <img src="../static/images/2.jpg" alt="Image 1">
                <div class="content"><p>
                    Global Business Services (GBS) is a private consulting firm with a successful track record in the Central Asian region. Since 2002, GBS has been providing professional consulting services in the various economic and social fields including agriculture and natural resources management, healthcare, public utility, urban infrastructure, and other sectors.
                </p></div>
                <button>Read More</button>
            </div>
            <div class="box">
                <img src="../static/images/3.jpg" alt="Image 2">
                <div class="content"><p>
                    Global Business Services (GBS) is a private consulting firm with a successful track record in the Central Asian region. Since 2002, GBS has been providing professional consulting services in the various economic and social fields including agriculture and natural resources management, healthcare, public utility, urban infrastructure, and other sectors.
                </p></div>
                <button>Read More</button>
            </div>
            <div class="box">
                <img src="../static/images/4.jpg" alt="Image 3">
                <div class="content"><p>
                    Global Business Services (GBS) is a private consulting firm with a successful track record in the Central Asian region. Since 2002, GBS has been providing professional consulting services in the various economic and social fields including agriculture and natural resources management, healthcare, public utility, urban infrastructure, and other sectors.
                </p></div>
                <button>Read More</button>
            </div>
        </div>

        <div>
            CONTENT IS HERE
            Global Business Services (GBS) is a private consulting firm with a successful track record in the Central Asian region. Since 2002, GBS has been providing professional consulting services in the various economic and social fields including agriculture and natural resources management, healthcare, public utility, urban infrastructure, and other sectors.
        </div>


        <div id="map-container">
            MAP IS HERE
        </div>


        <div class="page" id="page4">
            <main>
                Page 3
            </main>
        </div>
    </main>
    
    <footer>
        Copyright © 2023 Global Business Services LLC.
    </footer>

    <script src="../static/JavaScript/javascript.js"></script>
</body>
</html>
