<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <!-- ----------------------- Importing main CSS file ----------------------- -->
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <!-- --------------- Importing CSS file for the index cards ---------------- -->
    {{ $style_cards := resources.Get "css/index_cards.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style_cards.Permalink }}">

    <!-- ---------------------- Importing CSS for the map ---------------------- -->
    {{ $style_map := resources.Get "css/map.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style_map.Permalink }}">

    <!-- --------------------- Importing CSS for the menu ---------------------- -->
    {{ $style_menu := resources.Get "css/menu.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style_menu.Permalink }}">

    <!-- ----------------- Importing CSS for the single pages ------------------ -->
    {{ $style := resources.Get "css/single.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favricon/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favricon/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favricon/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "images/favricon/site.webmanifest" | relURL }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Old+Standard+TT&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    {{ partial "header.html" . }}
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
    <script src="{{ $script.Permalink }}"></script>
</body>
</html>

