{{ define "main" }}
    <section>
        <!-- ------------------------------ Hero Page ------------------------------ -->
        <div class="hero">
            <h1 id="company-name">Global Business Services</h1>
            <p id="company-description">Professional high-quality services in engineering, management and development.</p>
            <div id="additional-content">
                <p>Learn more about our services and how we can help you achieve your goals.</p>
            </div>
        </div>

        <!-- ------------------------ Content preview page ------------------------- -->
        <div class="regular_text">
            <img src="{{ "images/5.jpg" | relURL }}" alt="Descriptive Text">
            <p> Global Business Services (GBS) is a private consulting firm with a successful track record in the Central
                Asian region. Since 2002, we have been providing professional consulting services in the various
                economic and social fields including agriculture and natural resources management, healthcare,
                public utility, urban infrastructure, and other sectors. <br><br>

                We provide high quality services throughout the project management cycle, from project’s
                identification and development to its implementation, monitoring and evaluation. We strive to
                deliver innovative, inclusive and sustainable solutions for its customers. We establishe long-term and
                successful partnership with clients based on trust, respect, professionalism, and goal commitment. The
                firm’s philosophy is quality and sustainability of achievements. <br><br>

                We strive to deliver innovative, inclusive, and sustainable solutions for our customers. 
                Our experts have a particular prowess for detailed analysis of public and private sector institutions in 
                elaborating recommendations for improvements.
            </p>
        </div>

        <div class="regular_text">
            <img src="{{ "images/6.jpg" | relURL }}" alt="Descriptive Text">
            <p>
                We support projects in the areas of economic and social reform, poverty reduction, health and
                education, gender equality, productivity and competitiveness, agriculture and natural resources
                management sectors, improvement of quality of life in rural areas, diversification of rural economies,
                creating an enabling environment for rural communities, biodiversity conservation, and in
                environmental sustainability and management. <br><br>

                We offer comprehensive solutions for substantive improvement in water utilities' financial and operational performance. 
                What's more, our solutions have been field-tested and methodically improved within years of operations specialized in such services.
            </p>
        </div>

        <div class="regular_text">
            <img src="{{ "images/7.jpg" | relURL }}" alt="Descriptive Text">
            <p>
                We support a wide range of local, regional, and international clients with Initial Environmental Examination (IEE), Environmental and Social Impact Assessment (ESIA), Environmental Management Plan (EMP), and Environmental and Social Management Plan (ESMP) services.
            </p>
        </div>

        <!-- ----------------------------- Info cards ------------------------------ -->
        <div class="page3">
            <div class="container">
                {{ range where .Site.RegularPages "Section" "index_cards" }}
                <div class="box">
                    <img src="{{ .Params.image | relURL }}" alt="{{ .Title }} Image">
                    <header><h3>{{ .Title }}</h3></header>
                    <div class="content">
                        <p>{{ .Params.description }}</p>
                    </div>
                        <a href="{{ .Permalink }}">
                            <button>Read More</button>
                        </a>
                </div>
                {{ end }}
            </div>
        </div>
        
        
        <!-- ---------------------------- The world map ---------------------------- -->
        <div id="map-container" class="worldmap">
            <object id="svgMap" type="image/svg+xml" data="{{ "images/world.svg" | relURL }}">Please restart the page</object>
        </div>
        <!-- Modal for country info -->
        <div id="infoModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="countryInfo"></p>
            </div>
        </div>

    </section>
{{ end }}

